/* Variables */

// Primer esquema de color
$white: #fff;
$light-blue: #93dce5;
$salmon: #ef6461;
$black: #000000;
$gray: #55595c;

// Fuentes
$poppins: 'Poppins', sans-serif;
$montserrat: 'Montserrat', sans-serif;

// Pesos de fuentes
$montserrat-bold: 700;
$montserrat-medium: 500;
$montserrat-x-light: 200;
$poppins-medium: 500;

// Tamaño fuentes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;