.profile {
    padding: 1.3rem 0;
    
    &__avatar {
        display: flex;
    }
    &__img {
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        display: inline-block;
    }
    &__name {
        font-family: $montserrat;
        font-weight: $montserrat-bold;
        font-size: $large;
        padding: 0;
        margin: 0;
    }
    &__follows {
        font-family: $montserrat;
        font-weight: $montserrat-medium;
        font-size: $small;
        padding: 0;
        margin: 0;
    }
    &__button {
        border-radius: 0;
    }
    &__button--message {
        background-color: $light-blue;
        border-color: $light-blue;
    }
    &__button--follow {
        background-color: $salmon;
        border-color: $salmon;
    }
}